.ScheduleWrap {
    font-weight: bold;
    display: flex;
    width: 100%;
    .ContentsWrap {
        display: flex;
        box-shadow: 0 1px 2px 0 rgb(0, 0, 0, 0.25);
        margin: 8px;
        border-radius: 6px;
        .ScheduleContents {
            height: 78px;
            margin-left: 17px;
            display: flex;
            flex-direction: column;
            align-items: left;
            width: 260px;
            justify-content: space-evenly;
            h3 {
                font-size: 1.8rem;
            }
            h4 {
                font-size: 1rem;
                font-weight: normal;
                color: #bdbdbd;
            }
            .time {
                font-size: 11px;
            }
        }

        .BiChevronRight {
            margin-right: 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
